<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <style> body { padding-top:50px; }
            </style> 
    </head>
    <body class="container">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">     
                    <ul class="nav navbar-nav">
                        <li>
                        <a href=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
