<!-- author: Quoc -->
<% include ./partials/head %>
<main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
    <div class="jumbotron">                   
       <form name="addnotes" method="post" action="addnotes" style="width:700px;">   
         <div class="form-group" >      
          <label for="fullname">Note name</label>
          <input type="text" id="notename" placeholder="notename" class="form-control" name="notename"/>               
         </div>
         <div class="form-group" >
          <label for="notename">notes</label>
           <textarea name="notes" rows="7" cols="7" id="notes" placeholder="notes" class="form-control"></textarea>                        
         </div>
         <div class="text-center" >    
          <div class="text-center" >
           <input type="submit" value="add notes" class="btn btn-success"/>  
             <a href="/boards" class="btn btn-success">  Back to board </a>  
          </div> 
        </div>    
    </div>
</main>
