<% include ./partials/head %>
<main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
    

    <script language="javascript">
        function Add(){
        var divbutton = document.getElementById('buttongroup');
     
        if (user.role == 'Admin') {
          divbutton.style.display = 'none';
        }
    }       
    </script>

    <a href="/boards" class="btn btn-default ">  Back to board </a>

    <input  id="key"  name="user_id"  value="<%= user.fullname %>" >

<div class="jumbotron">
<p>Board name : <%= boards.boardname %></p>
<p>Board Owner:    <span><%=   JSON.parse(JSON.stringify(boards.username))[0].fullname %></span>
</p>

<% if (boards.boardvalues == 1) { %>  
  
  <p>Board values: Public</p>
  
<% } %>

<% if (boards.boardvalues == 2) { %>  
  
  <p>Board values: Private</p>
  
<% } %>

</div>


<% var un = user.fullname %>

  <% var ur = user.role %>
   
  <% var fn = JSON.parse(JSON.stringify(boards.username))[0].fullname %>


<form name="addnotes" method="post" action=""  style="width:300px;">
  <input type="hidden" name="key" value="<%= boards._id %>" />

  <input type="hidden" name="funame" value="<%= fn %>" />


  <% if ((un == fn) || (ur == "Admin")) {   %>  

<div class="jumbotron">


<a href="<%= boards._id %>/updateboard" class="btn btn-success ">Update board</a>

<a href="<%= boards._id %>/newnotes" class="btn btn-success ">Add new notes</a>

<a href="<%= boards._id %>/getnotes" class="btn btn-success ">See all notes</a>

</div>

<% } else { %>


<a href="<%= boards._id %>/getnotes" class="btn btn-success ">See all notes</a>

<% } %>

</form>

               
 </main>

<!-- 
<script type="text/javascript" src="./js/vue.min.js"></script>
<script type="text/javascript" src="includes.js"></script> 
<script type="text/javascript" src="my5.js"></script>  --> 