<!-- author: Quoc -->
<% include ./partials/head %>
<main>
  <a href="/boards" class="btn btn-success">Back to board </a>
    <ul class="list-group" style="width:500px;margin:50px;">
       <% for(var i=0; i < notes.length; i++) { %>
         <li class="list-group-item text-center" >
           <a href="notesinfo/<%= notes[i]._id %>" class="btn btn-default btn-block"> 
             <h7><span><%= notes[i].notename %></span></h7>  
               </a>
         </li>
       <% } %>
    </ul>
</main>