<% include ./partials/head %>
<main>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script> 
      <a href="/boards" class="btn btn-default"> Back to board </a>   
       <div class="jumbotron">
          <p>Board name : <%= boards.boardname %></p>       
             <% if (boards.boardvalues == 1) { %>  
                <p>Board values: Public</p>
             <% } %>
             <% if (boards.boardvalues == 2) { %>  
                <p>Board values: Private</p>
            <% } %>
      </div>
            <a href="<%= boards._id %>/getnotes" class="btn btn-success">See all notes</a>
            <a href="<%= boards._id %>/newnotes" class="btn btn-success">Add new notes</a>
       <div></div>            
</main>
