<% include ./partials/head %>
<main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>    
 <body>
    <div class="col-sm-1 col-sm-offset-1">
      <ul class="list-group" style="width:700px;margin:50px;">
        <li class="list-group-item"><a href="/boards/newboard" class="btn btn-success btn-block">Add new boards</a>      
        <% for(var i=0; i < boards.length; i++) { %>
           <li class="list-group-item text-center" >
            <a href="boards/<%= boards[i]._id %>" class="btn btn-default btn-block">                                 
             <h5><span><%= boards[i].boardname %> </span></h5>                    
            </a>    
           </li>
        <% } %>
</ul>
</body>
</main>