<!-- author: Quoc -->
<% include ./partials/head %>
<main>
  <div class="jumbotron">                   
      <form name="addnotes" method="post" action="" style="width:700px;">
        <div class="form-group"> 
         <label for="fullname">note name</label>
         <input type="text" id="notename" placeholder="notename" class="form-control" name="notename" value="<%= notes.notename %>"/>               
        </div>
        <div class="form-group">
          <label for="notename">notes</label>
            <textarea name="notes" rows="7" placeholder="" class="form-control"> <%= notes.notes %> </textarea>    
        </div>                                 
        <div class="text-center">
           <input type="submit" value="update notes" class="btn btn-success"/>
        </div> 
     </form> 
    </div>
</main>
