<% include partials/head %>
<body>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="text-center">
        <h1><%= error.status %>: <%= message %></h1>
        <pre><%= error.stack %></pre>
      </div>
    </div>
  </body>
</html>
