<!-- author: Quoc -->
<% include ./partials/head %>
<main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
<script language="javascript">
    function Add(){
    var tool1 = document.getElementById('ox');
    if(ox.checked) {
        ox.value = 2;
    }
    else{
        ox.value = 1;
    }
    document.getElementById('v2').value = ox.value;
}       
</script>
    <div class="jumbotron">                   
      <form name="addboard" method="post" action="addboard" style="width:300px;">
        <div class="form-group">
          <label>Board Name</label> 
           <input type="text" id="boardname" placeholder="boardname" class="form-control" name="boardname"/>  
           <input type="hidden" id="v2" placeholder="v2" class="form-control" value="1" name="v2"/>             
        </div>      
        </br> 
        <div class="form-group">
          <input id="ox" name"ox" type="checkbox" onClick="Add();"> Privat
        </div>         
        </br>  
        </br>
        <div class="text-center">
          <input type="submit" value="Add board" class="btn btn-success"/>
            <a href="/boards" class="btn btn-success"> Back to board </a>
        </div>        
      </form>
    </div>
</main>
