<!-- author: Quoc -->
<% include ./partials/head %>
<main>
<p>notes info</p>
 <div class="jumbotron">
   <p>notename: <%= notes.notename %></p>
   <p>notes: <%= notes.notes %></p>                        
 </div>
 <div>
    <a href="<%= notes._id %>/update" class="btn btn-success">update notes</a>
    <a href="<%= notes._id %>/delete" class="btn btn-success">delete notes</a>    
    <a href="/boards" class="btn btn-success"> Back to board </a>
</div>
</main>



  